<section id="footer">
    <div class="footer-content">
        <span class="footer-copyright">© {{ now.Year }} Viktorie Blahová</span>
        <div class="footer-links">
            <a href="/now">now</a>
            <a href="/cv">cv</a>
            <a href="mailto:torie.blahova@gmail.com">email</a>
            <a href="https://github.com/torieu" target="_blank" rel="noopener noreferrer">GitHub</a>
            <a href="https://linkedin.com/in/viktorie-blahová" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a href="https://x.com/TorieViktorie" target="_blank" rel="noopener noreferrer">Twitter</a>
        </div>
    </div>
</section>

{{- template "_internal/google_analytics.html" . -}}
{{- partial "custom-js.html" . -}}
