<div class="introduction">
    <div class="post_it homepage-introduction">
        <div class="pin-container">
            <img class="pin" src="assets/img/red-pin.svg" alt="red pin" />
        </div>
        <div class="text-container">
            <div class="main-text">jsem viktorie.</div>
            <div class="sub-text">studentka, lektorka, AI nadšenkyně, baby designérka.</div>
        </div>
    </div>

    <br>

    <div class="post-it-container">
        <a href="/about/" class="post-it-link">
            <div class="post-it">
                <img class="post-it-image" alt="a pink post-it note" src=assets/img/postit-yellow.svg />
                <div class="post_it_div">
                    <p class="post-it-title">viktorie kdo?</p>
                </div>
            </div>
        </a>
        <a href="/studium" class="post-it-link">
            <div class="post-it">
                <img class="post-it-image" alt="a yellow post-it note" src="assets/img/postit-pink.svg" />
                <div class="post_it_div">
                    <p class="post-it-title">studium</p>
                </div>
            </div>
        </a>
        <a href="/blog/" class="post-it-link">
            <div class="post-it">
                <img class="post-it-image" alt="a blue post-it note" src="assets/img/postit-blue.svg" />
                <div class="post_it_div">
                    <p class="post-it-title">blog</p>
                </div>
            </div>
        </a>


    </div>
</div>