
<div class="introduction">
    <div class="post_it homepage-introduction">
        <div class="pin-container">
            <img class="pin" src="assets/img/red-pin.svg" alt="red pin" />
        </div>
        <div class="text-container">
            <div class="main-text">jsem viktorie.</div>
            <div class="sub-text">studentka, lektorka, AI nadšenkyně, wannabe designérka.</div>
        </div>
    </div>

    <br>

    <div class="post-it-container">
        <a href="about.html" class="post-it-link">
            <div class="post-it">
                <img class="post-it-image" alt="a pink post-it note" src=assets/img/postit-yellow.svg />
                <div class="post_it_div">
                    <h2>viktorie kdo?</h2>
                </div>
            </div>
        </a>
        <a href="kisk.html" class="post-it-link">
            <div class="post-it">
                <img class="post-it-image" alt="a yellow post-it note" src="assets/img/postit-pink.svg" />
                <div class="post_it_div">
                    <h2>KISK</h2>
                </div>
            </div>
        </a>
        <a href="/posts/" class="post-it-link">
            <div class="post-it">
                <img class="post-it-image" alt="a blue post-it note" src="assets/img/postit-blue.svg" />
                <div class="post_it_div">
                    <h2>blog</h2>
                </div>
            </div>
        </a>


    </div>
</div>