{{- $nav := . -}}
{{- if or $nav.showCategories $nav.showTags $nav.custom -}}
<nav style="display: flex; align-items: center; height: 100%;">
    <li style="display: flex; gap: 30px; align-items: center;">
        <a href="/about" class="nav-post-it"><img src="{{- "assets/img/postit-yellow.svg" | relURL -}}" alt="{{- T "Tags" -}}" class="nav-post-it-image" /></a>
        <a href="/kisk" class="nav-post-it"><img src="{{- "assets/img/postit-pink.svg" | relURL -}}" alt="{{- T "Tags" -}}" class="nav-post-it-image" /></a>
        <a href="/blog" class="nav-post-it"><img src="{{- "assets/img/postit-blue.svg" | relURL -}}" alt="{{- T "Tags" -}}" class="nav-post-it-image" /></a>
    </li>
   
</nav>
{{- end -}}
