{{- define "main" -}}
<div class="article-container">
<article class="article markdown-body">
  <h2>404: chybka se vloudila</h2>  
    <p>Nic zde není :(</p> 

    <p>Možná jste hledali:</p>
    
    <ul>
      <li><a href="/vkurzu/" >poznámky z kurzu umělé inteligence Calderon</a></li>
      <li><a href="/zadani/" >zadání projektu</a></li>
      <li><a href="https://viktorie.net/detekce.html" target="_blank">interaktivní poznávačka generovaného textu</a></li>
      <li><a href="/about/" >něco o mně :)</a></li>
    </ul>

  <h1 id="title">NOT FOUND</h1>
  <pre class="chroma"><code class="language-c" data-lang="c"><span class="kt">int</span> <span class="nf">main</span><span class="p">(</span><span class="kt">int</span> <span class="n">argc</span><span class="p">,</span> <span class="kt">char</span> <span class="o">*</span><span class="o">*</span><span class="n">argv</span><span class="p">)</span> <span class="p">{</span>
  <span class="n">printf</span><span class="p">(</span><span class="sa"></span><span class="s">"</span><span class="s">404</span><span class="s">"</span><span class="p">)</span><span class="p">;</span>
  <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span></code></pre>
</article>
</div>
{{- end -}}